<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


<table width="800" border="0" cellspacing="0" cellpadding="0">
<tr><td>
<tr><td>1. I’m not prepared just to accept things I’m told: I have to think them out for myself</td><td> 2</td></tr>
<tr><td>2. One way or another I manage to get hold of books or whatever I need for studying</td><td> 5</td></tr>
<tr><td>3. Often I feel I’m drowning in the sheer amount of material we’re having to cope with
<tr><td>on this course</td><td> 2</td></tr>
<tr><td>4. So far, I seem to have a good grasp of the subjects I am studying</td><td> 5</td></tr>
<tr><td>5. Sometimes I find myself thinking about ideas from the course when I’m doing other
things</td><td>4</td></tr>
<tr><td>6. I often have trouble in making sense of the things I have to remember</td><td> 2</td></tr>
<tr><td>7. Often I lie awake worrying about work I think I won’t be able to do</td><td>4</td></tr>
<tr><td>8. Generally, I find the set work easy to do </td><td>4</td></tr>
<tr><td>9. Although I can remember facts and details, I often can’t see the overall picture </td><td>2</td></tr>
<tr><td>10. I make sure I find conditions for studying which let me get on with my work easily </td><td>4</td></tr>
<tr><td>11. When I look back, I sometimes wonder why I ever decided to come here </td><td>1</td></tr>
<tr><td>12. I seem to be able to grasp things for myself pretty well on the whole </td><td>4</td></tr>
<tr><td>13. I try to relate ideas I came across to other topics or other courses whenever possible </td><td>2</td></tr>
<tr><td>14. I put a lot of effort into making sure I have the most important details at my fingertips </td><td>2</td></tr>
<tr><td>15. Coming here wasn’t really my choice: more other people’s expectations and no
obvious alternative </td><td>1</td></tr>
<tr><td>16. I don’t usually have much difficulty in making sense of new information or ideas </td><td>4</td></tr>
<tr><td>17. Sometimes I worry about whether I’ll ever be able to cope with the work properly </td><td>4</td></tr>
<tr><td>18. I organise my study time carefully to make the best use of it </td><td>2</td></tr>
<tr><td>19. When I’m reading an article or book, I try to work out for myself exactly what’s
being said </td><td>4</td></tr>
<tr><td>20. I spend quite a lot of time repeating or copying out things to help me remember them </td><td>2</td></tr>
<tr><td>21. I know what I want to get out of this course and I’m determined to achieve it </td><td>5</td></tr>
<tr><td>22. Often I find myself reading things without really trying to understand them </td><td>4</td></tr>
<tr><td>23. I usually set out to understand for myself the meaning of what we have to learn </td><td>4</td></tr>
<tr><td>24. I’m not really sure what’s important, so I try to get down just as much as I can in
Lectures </td><td>2</td></tr>
<tr><td>25. I work hard when I’m studying and generally manage to keep my mind on what I’m </td><td>4</td></tr>
doing
<tr><td>26. When I’m working on a new topic, I try to see in my own mind how all the ideas fit
together </td><td>4</td></tr>
<tr><td>27. I find I have to concentrate on memorising a good deal of what I have to learn </td><td>2</td></tr>
<tr><td>28. It’s important to me to feel I’m doing as well as I really can on the courses here </td><td>4</td></tr>
<tr><td>29. Ideas in course books or articles often set me off on long chains of thought about
what I’m reading </td><td>2</td></tr>
<tr><td>30. I rather drifted into higher education without deciding for myself what I really wanted
to do </td><td>1</td></tr>
<tr><td>31. I think I’m quite systematic and organised in the way I go about studying </td><td>2</td></tr>
<tr><td>32. When I’m reading, I examine the details carefully to see how they fit in with what’s
being said </td><td>2</td></tr>
<tr><td>33. I often seem to panic if I get behind with my work </td><td>4</td></tr>
<tr><td>34. I generally try to make good use of my time during the day </td><td>5</td></tr>
<tr><td>35. It’s important to me to be able to follow the argument or see the reasoning behind
something </td><td>4</td></tr>
<tr><td>36. I think I’m on this course more to please other people than because I really wanted
it myself </td><td>1</td></tr>
<tr><td>37. I work steadily throughout the course, rather than leaving everything until the last
minute </td><td>2</td></tr>
<tr><td>38. I look at the evidence carefully and then try to reach my own conclusion about things
I’m studying </td><td>4</td></tr>
</table>







</body>
</html>
