vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Feb 2009 12:23:23 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timecreated:TR|23 Sep 2008 20:22:19 -0000
vti_nexttolasttimemodified:TW|08 Oct 2008 20:58:58 -0000
vti_syncofs_howardkeene.co.uk\:21/howardkeene.co.uk:TW|08 Oct 2008 20:19:00 -0000
vti_syncwith_howardkeene.co.uk\:21/howardkeene.co.uk:TX|08 Oct 2008 20:58:58 -0000
vti_backlinkinfo:VX|index.htm HMK_Main_template.htm Web_design.htm
vti_cacheddtm:TX|04 Feb 2009 12:23:23 -0000
vti_filesize:IR|4521
vti_donotpublish:BW|true
