vti_encoding:SR|utf8-nl
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timelastmodified:TR|01 Oct 2007 06:07:24 -0000
vti_timecreated:TR|01 Oct 2007 06:07:24 -0000
vti_cacheddtm:TX|01 Oct 2007 06:07:24 -0000
vti_filesize:IR|1347
vti_cachedlinkinfo:VX|S|balbanr.gif S|balrule.gif S|balbul1.gif S|balbul2.gif S|balbul3.gif S|balhsel.gif S|balhbtn.gif S|balvsel.gif S|balvbtn.gif S|balhom.gif S|balup.gif S|balbck.gif S|balnxt.gif S|balbul1.gif S|balbul2.gif S|balbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/balance/balbanr.gif FSUS|_themes/balance/balrule.gif FSUS|_themes/balance/balbul1.gif FSUS|_themes/balance/balbul2.gif FSUS|_themes/balance/balbul3.gif FSUS|_themes/balance/balhsel.gif FSUS|_themes/balance/balhbtn.gif FSUS|_themes/balance/balvsel.gif FSUS|_themes/balance/balvbtn.gif FSUS|_themes/balance/balhom.gif FSUS|_themes/balance/balup.gif FSUS|_themes/balance/balbck.gif FSUS|_themes/balance/balnxt.gif FSUS|_themes/balance/balbul1.gif FSUS|_themes/balance/balbul2.gif FSUS|_themes/balance/balbul3.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|
vti_syncofs_alabastapm.co.uk\:21/alabasta.co.uk:TW|02 Oct 2007 15:32:00 -0000
vti_syncwith_alabastapm.co.uk\:21/alabasta.co.uk:TX|01 Oct 2007 06:07:24 -0000
vti_syncwith_alabastapm.co.uk\:21/alabastapm.co.uk:TX|01 Oct 2007 06:07:24 -0000
vti_syncofs_alabastapm.co.uk\:21/alabastapm.co.uk:TW|02 Oct 2007 18:27:00 -0000
vti_syncofs_howardkeene.co.uk\:21/howardkeene.co.uk:TW|03 Nov 2007 18:45:00 -0000
vti_syncwith_howardkeene.co.uk\:21/howardkeene.co.uk:TX|01 Oct 2007 06:07:24 -0000
