<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
         "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<link rel="stylesheet" href="Childcare.css" type="text/css" media="screen">
<link rel="shortcut icon" href="/favicon.ico"/>
<title>Template 1</title>

<style>
<!-- Additional Style changes -->
</style>

</head>
<body>

<div id="wrap">
<div id="logodiv1"></div>
<div id="header">
<h1>Website Template</h1>
</div>
<!-- Spare division for alternate use -->
<div id="shelfdiv1"></div>
<!--
<div id = "Navbar">
<ul>
<li><A href="#">Link 1</A>
<li><A href="#">Link 2</A></li>
<li><A href="#">Link 3</A>
<li><A href="#">Link 4</A></li>
</ul>
</div>
-->

<!-- Side Menu Take out unnecessary entries -->
<div id="menu">
<ul>
<li><A href="index(1).html">Home</A>
<li><A href="index(2).html">Groups</A>
<li><A href="index(3).html">Events</A>
<li><A href="index(4).html">Links</A>
<li><A href="index(5).html">Details</A>
<li><A href="index(6).html">Contact</A></li>
</ul>
</div>

<!-- 
Inside the main page area sits an additional
navigation links list which connects to other pages.
Take this out if not required
-->
<div id="nav">
<h2>Navigation panel </h2>
<ul>
<li><A href="#">Link 1</A>
<li><A href="#">Link 2</A></li>
</ul>
<p>Some text...</p>
</div>

<!-- Main Content area below Navigation 
A background image can be installed here

-->
<div id="content">
<!-- Page Content -->
<p>Dear Parent/Carer,
<p><b>Welcome to the Manor House Nursery and Pre school
</b>
<p>The Manor House Nursery provides high quality childcare for children aged 3 months to 5 years. The nursery is a bright, spacious and a stimulating Environment where children are encouraged to learn through play. The building is set in beautiful gardens giving your child ample opportunity to explore and enjoy having fun.
<p>We recognize the early experiences in a Childs life will affect how they develop. it is of utmost importance that we ensure your child receives the love, security, stability, positive self image and respect he/she deserves.
<p>It is the policy of our organisation to meet the needs and abilities of all children who attend by promoting opportunities for challenge, success independence in a safe caring environment. As parents you are integral to that success. In partnership we can provide the best possible learning experience for your child.
<p>I take this opportunity to welcome you to visit our setting and arrange a suitable appointment for you and your child.



<!-- End of page Content -->
</div>

<div id="footer">
<p>Site created by <a href="http://www.howardkeene.co.uk/Softback/index.htm" target="_blank">Rich Fegan</a> </p>
</div>

</body>

</html>