vti_encoding:SR|utf8-nl
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timelastmodified:TR|03 Mar 2009 14:48:54 -0000
vti_timecreated:TR|03 Mar 2009 11:33:30 -0000
vti_title:SR|Template 1
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|Softback/Templates/Template\\ 2.htm
vti_nexttolasttimemodified:TW|03 Mar 2009 13:35:46 -0000
vti_cacheddtm:TX|03 Mar 2009 12:34:19 -0000
vti_filesize:IR|1793
vti_cachedtitle:SR|Template 1
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|Stylesheet1.css H|/favicon.ico K|Template\\ 2.htm K|Template\\ 2.htm K|Template\\ 2.htm K|Template\\ 2.htm H|index(1).html H|index(2).html H|index(3).html H|index(4).html H|index(5).html H|index(6).html K|Template\\ 2.htm K|Template\\ 2.htm H|http://www.howardkeene.co.uk/Softback/index.htm
vti_cachedsvcrellinks:VX|FQUS|Softback/Templates/Stylesheet1.css NHUS|file:///favicon.ico FKUS|Softback/Templates/Template\\ 2.htm FKUS|Softback/Templates/Template\\ 2.htm FKUS|Softback/Templates/Template\\ 2.htm FKUS|Softback/Templates/Template\\ 2.htm NHUS|Softback/Templates/index(1).html NHUS|Softback/Templates/index(2).html NHUS|Softback/Templates/index(3).html NHUS|Softback/Templates/index(4).html NHUS|Softback/Templates/index(5).html NHUS|Softback/Templates/index(6).html FKUS|Softback/Templates/Template\\ 2.htm FKUS|Softback/Templates/Template\\ 2.htm NHHS|http://www.howardkeene.co.uk/Softback/index.htm
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Language en-gb HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|windows-1252
vti_language:SR|en-gb
