vti_encoding:SR|utf8-nl
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timelastmodified:TR|03 Mar 2009 11:26:36 -0000
vti_timecreated:TR|03 Mar 2009 09:10:04 -0000
vti_title:SR|Template 1
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|03 Mar 2009 11:25:38 -0000
vti_cacheddtm:TX|03 Mar 2009 11:26:36 -0000
vti_filesize:IR|1769
vti_cachedtitle:SR|Template 1
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|Stylesheet1.css H|/favicon.ico S|logo.gif H|index.htm
vti_cachedsvcrellinks:VX|FQUS|Softback/Templates/Stylesheet1.css NHUS|file:///favicon.ico FSUS|Softback/Templates/logo.gif NHUS|Softback/Templates/index.htm
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Language en-gb HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|windows-1252
vti_language:SR|en-gb
