vti_encoding:SR|utf8-nl
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timelastmodified:TR|03 Mar 2009 15:26:35 -0000
vti_timecreated:TR|03 Mar 2009 15:21:20 -0000
vti_title:SR|Template 1
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|Softback/Templates/Welcome\\ Template\\ 2.htm
vti_nexttolasttimemodified:TW|03 Mar 2009 15:24:13 -0000
vti_cacheddtm:TX|03 Mar 2009 15:26:35 -0000
vti_filesize:IR|2885
vti_cachedtitle:SR|Template 1
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|Childcare.css H|/favicon.ico H|index(1).html H|index(2).html H|index(3).html H|index(4).html H|index(5).html H|index(6).html K|Welcome\\ Template\\ 2.htm K|Welcome\\ Template\\ 2.htm H|http://www.howardkeene.co.uk/Softback/index.htm
vti_cachedsvcrellinks:VX|NQUS|Softback/Templates/Childcare.css NHUS|file:///favicon.ico NHUS|Softback/Templates/index(1).html NHUS|Softback/Templates/index(2).html NHUS|Softback/Templates/index(3).html NHUS|Softback/Templates/index(4).html NHUS|Softback/Templates/index(5).html NHUS|Softback/Templates/index(6).html FKUS|Softback/Templates/Welcome\\ Template\\ 2.htm FKUS|Softback/Templates/Welcome\\ Template\\ 2.htm NHHS|http://www.howardkeene.co.uk/Softback/index.htm
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Language en-gb HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|windows-1252
vti_language:SR|en-gb
