vti_encoding:SR|utf8-nl
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timelastmodified:TR|08 Nov 2008 10:16:31 -0000
vti_timecreated:TR|01 Oct 2008 13:31:39 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|Childcare/Childcare2.htm Childcare/inline_template.htm Childcare/About_Me.htm
vti_nexttolasttimemodified:TW|08 Nov 2008 10:14:40 -0000
vti_syncofs_howardkeene.co.uk\:21/howardkeene.co.uk:TW|01 Oct 2008 14:54:00 -0000
vti_syncwith_howardkeene.co.uk\:21/howardkeene.co.uk:TW|01 Oct 2008 13:32:15 -0000
vti_cacheddtm:TX|08 Nov 2008 10:16:31 -0000
vti_filesize:IR|4547
