vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Mar 2009 10:21:52 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|ADVENT_8111\\Howard
vti_modifiedby:SR|ADVENT_8111\\Howard
vti_timecreated:TR|11 Mar 2009 10:15:16 -0000
vti_backlinkinfo:VX|mhn/Butterflies.htm mhn/hours.htm mhn/Ladybirds.htm mhn/Contact_Content.htm mhn/General.htm mhn/rooms.htm mhn/Caterpillars.htm mhn/content_Template.htm mhn/index.htm mhn/Template.htm Butterflies.htm Caterpillars.htm hours.htm Ladybirds.htm rooms.htm mhn/contacts.htm Bumblebees.htm contacts.htm mhn/Bumblebees.htm mhn/Main_Template.htm index.htm General.htm
vti_nexttolasttimemodified:TR|11 Mar 2009 10:21:08 -0000
vti_cacheddtm:TX|11 Mar 2009 10:21:52 -0000
vti_filesize:IR|5445
vti_cachedlinkinfo:VX|S|../Images/Watercolour_house_Bgnd.jpg S|../Images/logo.gif S|../Images/Menu_Button2_Blue.gif S|../Images/Menu_Button2_Green.gif S|../Images/Menu_Button1_Red.gif S|../Images/Menu_Button1_Yellow.gif
vti_cachedsvcrellinks:VX|FSUS|Images/Watercolour_house_Bgnd.jpg FSUS|Images/logo.gif FSUS|Images/Menu_Button2_Blue.gif FSUS|Images/Menu_Button2_Green.gif FSUS|Images/Menu_Button1_Red.gif FSUS|Images/Menu_Button1_Yellow.gif
vti_syncofs_howardkeene.co.uk\:21/howardkeene.co.uk:TW|11 Mar 2009 10:38:00 -0000
vti_syncwith_howardkeene.co.uk\:21/howardkeene.co.uk:TW|11 Mar 2009 10:21:52 -0000
