/* CSS Document for NTU workspace Assignment */

/*************************************************************************/
@media only screen and (min-device-width: 701px)  {
/* Desktop Landscape layout */
	
/* fixed width container surrounds the other divs */
.container {
	width: 1000px;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

/****************************************************************************************************/
/* Header Div styling */
.header {
	background-color: #F00;
	width: 100%;
	height: 240px;
	/*background-image:url(../images/Bookstore_header2016.jpg);*/ 
	}
/* Variations from standard, used in Header only */
.header h1 { color:#FFF; float: right; }
.header p  { color:#FFF; float: right; }

.Ribbon {background-color:#0F0;
			height: 50px;
			width: 100%;
			}
/* Content Area CSS*/
.content {
	padding: 10px 0;
	width: 75%;
	height: 590px;
	float: left;
	background-color: #9adef5;
	border-width: 0px;
}
/* Lists in the .content area only - unordered and ordered just in case either are used.*/
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
.sidebar1 {
	float: left;
	width: 25%;
	height: 600px;
	background-color: #EADCAE;
	padding-bottom: 10px;
}
.sidebar1 img {padding-left:10px; }
.sidebar1 p { margin-top: 0; padding-right: 15px; padding-left: 15px; }
.sidebar1 a { text-decoration:underline;  margin-top: 0; padding-right: 15px; padding-left: 15px;}


/* The footer */
.footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

}
/*************************************************************************/
@media only screen and (min-device-width: 301px) and (max-device-width: 700px)  {
/* screen width 301 to 700px */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}
/* fixed width container surrounds the other divs */
.container {
	width: 100%;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* Header Div styling */
.header {
	background-color: #00F;
	width: 100%;
	height: 240px;
	/*background-image:url(../images/Bookstore_header2016.jpg) ;*/
}
/* Variations from standard, used in Header only */
.header h1 { color:#FFF; float: right; }
.header p  { color:#FFF; float: right; }

.Ribbon {background-color:#0F0;
			height: 50px;
			width: 100%;
			}
/* Content Area CSS*/
.content {
	padding: 10px 0;
	width: 100%;
	height: 590px;
	float: left;
	background-color: #9adef5;
	border-width: 0px;
}
.sidebar1 {
	float:left;
	width: 100%;
	height: 200px;
	background-color: #EADCAE;
	padding-bottom: 10px;
}
.sidebar1 img {padding-left:10px; }
.sidebar1 p { margin-top: 0; padding-right: 15px; padding-left: 15px; }
.sidebar1 a { text-decoration:underline;  margin-top: 0; padding-right: 15px; padding-left: 15px;}
/* The footer */
.footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}}
/*************************************************************************/
@media screen and (max-device-width: 300px) {
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}
/* fixed width container surrounds the other divs */
.container {
	width: 100%;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* Header Div styling */
.header {
	background-color: #0F0;
	width: 100%;
	height: 240px;
	/*background-image:url(../images/Bookstore_header2016.jpg) ;*/
}

.Ribbon {background-color:#0F0;
			height: 50px;
			width: 100%;
			}
/* Content Area CSS*/
.content {
	padding: 10px 0;
	width: 100%;
	height: 590px;
	float: left;
	background-color: #9adef5;
	border-width: 0px;
}
.sidebar1 {
	float:left;
	width: 100%;
	height: 600px;
	background-color: #EADCAE;
	padding-bottom: 10px;
}
/* The footer */
.footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}


}