vti_encoding:SR|utf8-nl
vti_author:SR|ADVENT8111\\Howard
vti_modifiedby:SR|ADVENT8111\\Howard
vti_timelastmodified:TR|08 Aug 2007 21:23:25 -0000
vti_timecreated:TR|08 Aug 2007 21:23:25 -0000
vti_cacheddtm:TX|08 Aug 2007 21:23:25 -0000
vti_filesize:IR|29490
vti_cachedlinkinfo:VX|S|top_bar_button_sky.gif S|background_sky.gif S|bull2_sky.gif S|toolgrad_sky.gif S|theme.css S|dot_sky.gif S|toolgrad_sky.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sky/top_bar_button_sky.gif FSUS|_themes/sky/background_sky.gif FSUS|_themes/sky/bull2_sky.gif FSUS|_themes/sky/toolgrad_sky.gif FSUS|_themes/sky/theme.css FSUS|_themes/sky/dot_sky.gif FSUS|_themes/sky/toolgrad_sky.gif FSUS|_themes/sky/partgrad.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/sky/theme.css
vti_syncwith_howardkeene.co.uk\:21:TX|08 Aug 2007 21:23:25 -0000
vti_syncofs_howardkeene.co.uk\:21:TW|10 Aug 2007 07:10:00 -0000
